<!doctype html>
<html lang="en">
  <head>
    <%- include('header.ejs') -%>
  </head>
  <body>
    <%- include('nav.ejs') -%>
    <main role="main" class="container">
      <div class="midala-home">
        <p class="lead"><img src="/vector/midala-star.svg" alt="Midala: logo" class="img-fluid" width="210"></p>
        <p class="lead"><img src="/vector/midala.svg" alt="Midala" class="img-fluid" width="480"></p>
        <br>
        <h1>Internet cloud mutualistico</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card home">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="align-text-bottom" data-feather="tool" height="20"></i>
                  Sei uno sviluppatore?
                </h5>
                <p class="card-text">
                  Vuoi pubblicare i tuoi <strong>progetti Web</strong> in
                  <strong><a href="https://nodejs.org">Node.js</a></strong> o in
                  <strong><a href="https://www.php.net">PHP</a></strong>?
                  <br>Vuoi amministrare in autonomia il tuo <strong>database</strong>?
                  Oppure vorresti che supportassimo nuovi linguaggi e
                  tecnologie?
                </p>
                <p><a class="btn btn-primary" href="/support" role="button">Contattaci</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
						<div class="card home">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="align-text-bottom" data-feather="globe" height="20"></i>
                  Blog e siti Web
                </h5>
                <p class="card-text">
									Vuoi creare un <strong>sito Web</strong>
									o un <strong>blog</strong>? Vuoi amministrare e
									configurare il tuo sito senza il nostro intervento?
									Non hai grandi budget da investire ma non vuoi riempire di pubblicità le tue pagine Web?
                </p>
                <p><a class="btn btn-secondary" href="faq#web" role="button">Scopri di più</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
						<div class="card home">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="align-text-bottom" data-feather="mail" height="20"></i>
                  Posta elettronica
                </h5>
                <p class="card-text">
									Ti servono delle caselle di <strong>posta elettronica</strong>
									legate al tuo <strong>dominio</strong>?
									Hai bisogno di inviare periodicamente una
									<strong>newsletter</strong> oppure di gestire
									una <strong>mailing-list</strong> per te e i tuoi collaboratori?
                </p>
                <p><a class="btn btn-secondary" href="faq#email" role="button">Scopri di più</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer.ejs') -%>
  </body>
</html>
