<!doctype html>
<html lang="en">
  <head>
    <%- include('header.ejs') -%>
  </head>
  <body>
    <%- include('nav.ejs') -%>
    <main role="main" class="container">
      <div class="container">
        <h1>Manifesto </h1>
        <p class="lead">
					<span class="badge badge-warning">versione alpha!</span>
				</p>
        <blockquote class="blockquote">
					<p class="mb-0">
						L'economia del dono è una forma di scambio
						economico basata sul valore d'uso degli oggetti e delle
						azioni. Per valore d'uso, classicamente si intende la
						capacità di un bene o di un servizio di soddisfare un dato
						fabbisogno, o tout court il suo valore di utilità. L'economia
						del dono si contrappone all'economia tradizionalmente intesa,
						definita "economia di mercato" o "economia mercantile", che si
						basa, invece, sul valore di scambio (o valore commerciale).
					</p>
					<footer class="blockquote-footer">
						<a href="https://it.wikipedia.org/">Wikipedia</a>, alla pagina
						<cite title="Source Title">
							<a href="https://it.wikipedia.org/wiki/Economia_del_dono">
								Economia del dono
							</a>
						</cite>
					</footer>
				</blockquote>
        <p>Questo il principio che guida e caratterizza l'attività di <a href="https://www.midala.net">Midala</a>.<br>
        Siamo una comunità (in attesa di definirci come <strong>associazione culturale</strong>) di sviluppatori,
        di creativi, di tecnici, uniti dalla volontà di produrre tecnologia libera e programmi a sorgente aperto.</p>
        <blockquote class="blockquote">
					<p class="mb-0">
						In informatica, il termine inglese open source (che
						significa sorgente aperta) indica un software di cui gli
						autori (più precisamente, i detentori dei diritti) rendono
						pubblico il codice sorgente, favorendone il libero studio e
						permettendo a programmatori indipendenti di apportarvi
						modifiche ed estensioni. Questa possibilità è regolata
						tramite l'applicazione di apposite licenze d'uso.
					</p>
					<footer class="blockquote-footer">
						<a href="https://it.wikipedia.org/">Wikipedia</a>, alla pagina
						<cite title="Source Title">
							<a href="https://it.wikipedia.org/wiki/Open_source">Open source</a>
						</cite>
					</footer>
				</blockquote>
        <p>Siamo disponibili a supportare fattivamente tutte le realtà
        che sono disposte a utilizzare unicamente <strong>software open
        source</strong> e a rendere disponibile con la medesima logica
        il <strong>frutto del nostro lavoro</strong>, <strong>svolto a
        titolo gratuito e volontario</strong> (ma stiamo studiando una
        formula che ci permetta di ricevere <strong>donazioni </strong>e
        di <strong>condividere le spese</strong> necessarie al
        mantenimento della piattaforma).</p>
        <p><strong>Non siamo un'azienda</strong> e <strong>non cerchiamo
        clienti</strong>: ci rivolgiamo a<strong> realtà che ci
        piacciono</strong> perchè, come noi, si preoccupano di rendere
        questo mondo un posto migliore. Quindi,
        <a href="/support">contattaci</a> se ti occupi di
        <strong>biologico </strong>e di
        <em><strong>sustainable food</strong></em> o se lavori nel
        <strong>terzo settore</strong>; ma anche se la tua attività si
        muove nel mondo della <strong>cultura </strong>o delle
        <strong>politiche ambientali</strong>; se sei un
        <strong>attivista </strong>o un membro di un'
        <strong>associazione culturale</strong>; se tieni lezioni di
        <strong>Yoga </strong>o di <strong>Shiatsu </strong>o hai una
        piccola <strong>erboristeria</strong>; se sei un piccolo
        <strong>artigiano </strong>... L'elenco potrebbe continuare: in
        ogni caso ci riserviamo di scegliere caso per caso!</p>
      </div>
    </main>
    <%- include('footer.ejs') -%>
  </body>
</html>

