<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="./">
        <img src="/vector/midala-star-white.svg" class="d-inline-block align-middle" height="33" alt="">
        <img src="/vector/midala-white.svg" class="d-inline-block align-middle" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_midala" aria-controls="navbar_midala" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    <div class="collapse navbar-collapse" id="navbar_midala">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-nowrap" id="home">
                <a class="nav-link" href="/">
                    <i class="d-inline-block align-text-bottom" data-feather="home" height="22"></i> HOME
                </a>
            </li>
            <li class="nav-item  text-nowrap" id="manifesto">
                <a class="nav-link" href="/manifesto">
                    <i class="d-inline-block align-text-bottom" data-feather="file-text" height="22"></i> MANIFESTO
                </a>
            </li>
            <li class="nav-item text-nowrap" id="faq">
                <a class="nav-link" href="/faq">
                    <i class="d-inline-block align-text-bottom" data-feather="help-circle" height="22"></i> FAQ
                </a>
            </li>
            <li class="nav-item text-nowrap" id="support">
                <a class="nav-link" href="/support">
                    <i class="d-inline-block align-text-bottom" data-feather="life-buoy" height="22"></i> SUPPORTO
                </a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="https://mail.midala.net">
                    <i class="d-inline-block align-text-bottom" data-feather="inbox" height="22"></i> WEBMAIL
                </a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="https://twitter.com/ImitatioVitae">
                    <i class="d-inline-block align-text-bottom" data-feather="twitter" height="22"></i> TWITTER
                </a>
            </li>
        </ul>
    </div>
</nav>

