@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal !important;
	font-style: normal !important;
}

html, body, footer {
	font-family: 'Roboto' !important;
  font-size: 11pt !important;
}

body {
	background-color: WhiteSmoke !important;
	padding-top: 2.0rem !important;
}

div.container > h2::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
}

.midala-home {
	margin-bottom: 0.1rem !important;
	padding: 0rem 1.5rem !important;
	text-align: center !important;
	font-size: 1.2em !important;
}

.navbar {
	font-size: 1.2em !important;
}

footer {
	font-size: 0.8em !important;
	padding: 0.4em 2.4em !important;
}

main {
	margin-top: 5.1rem !important;
}

.blockquote {
	padding-left: 1.2em !important;
	border-left: 2px solid DarkGray !important;
	margin-top: 1.2em !important;
}

h1 {
	text-transform: uppercase !important;
	padding-bottom: 0.3em !important;
	padding-top: 0.2em !important;
}

h2 {
	margin-top: 0.6em !important;
	margin-bottom: 0.3em !important;
}

.badge {
	margin-bottom: 0.1em !important;
	font-weight: 100 !important;
	text-transform: lowercase !important;
	font-size: 14pt !important;
}

footer.container > p {
	padding-left: 0.2em !important;
	padding-right: 0.6em !important;
	padding-top: 0em !important;
	margin-top: 0em !important;
}

.home {
	margin-top: 1.1em !important;
}
